$font-light: #fff;
$font-grey: #a2a2a2;
$font-dark: #262626;

$background-light: #fafafa;
$background-grey-light: #fafafafa;

$border-grey: #dbdbdb;
$border-dark: #262626;

$action: #0095f6;
$danger: #ed4956;
$warning: #f5a623;